<div class="post-card">
  <h2>Post #<%= post.id%> <%= post.title %></h2>
  <p class='post-content'><%= post.text %></p>
  <h3 class='post-stats'>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></h3>
</div>