<div class="post-card">
  <div class='post-header'>
  <h2>Post #<%= post.id%> by <%= post.user.name %> <%= post.title %></h2>
  <h3 class='post-stats'>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></h3>
  </div>
  <p class='post-content'><%= post.text %></p>
  <div class='post-buttons'>
  <button id='post-card-btn'><%= link_to 'Create a new comment', comment_new_path(post.user) %></button>
  <%= render partial: 'likes/like_button', locals: {post: post} %>
  </div>
</div>

<% if comments.any? %>
  <div class='comments-list'>
    <% comments.each do |comment| %>
      <div class='comment-card'>
        <h3><%= comment.user.name %>: <span class='comment-content'><%= comment.text %></span></h3>
      </div>
    <% end %>
  </div>
<% end %>

<% if comments.empty? %>
  <div class='comments-list'>
    <div class='comment-card'>
      <h3>There are no comments for this post!</h3>
    </div>
  </div>
<% end %>