<div class="post-card">
  <div class='post-header'>
  <h2>Post #<%= post.id%> by <%= post.user.name %> <%= post.title %></h2>
  <h3 class='post-stats'>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></h3>
  </div>
  <p class='post-content'><%= post.text %></p>
  <div class='post-buttons'>
  <button id='post-card-btn'><%= link_to 'Create a new comment', comment_new_path(post.user) %></button>
  <%= render partial: 'likes/like_button', locals: {post: post} %>
  </div>
</div>

<%= render partial: 'comments/comment_card', locals: { comments: post.comments } %>
